{% extends 'base.html' %}

{% block title %}HSJ - Printers{% endblock %}

{% block body %}
    <div id="head">
        <h1 id="titulohead"><a href="/">Hospital São José - Teresópolis</a></h1>
        <!-- <img id="imagemhead" src="{{url_for('static',filename = '/img/Logo_hsj_rio.png')}}" height="17%" width="17%"> -->
    </div>
    <div class="container">
        <nav id="menu">
            <ul>
                <li class ="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Impressoras</a>
                    <div class="dropdown-content">
                        <a href="/parque_ativo" class="dropbtn">Visão Geral</a>
                        <a href="/black">Impressoras Mono</a>
                        <a href="/color">Impressoras Color</a>
                        <a href="/fusor">Unidade Fusora</a>
                        <a href="/imagem">Unidade Imagem</a>
                        <a href="/belt">Belt</a>
                        <a href="/usb">Não monitoradas</a>
                        <a href="/backups">Backups</a>
                    </div>
                </li>
                <li class = "dropdown">
                    <a href="javascript:void(0)" class="dropbtn">Toners</a>
                    <div class="dropdown-content">
                        <a href="/estoque">Visão Geral</a>
                        <a href="/entrada">Entrada</a>
                        <a href="/saida">Saída</a>
                        <a href="/entradas_toners">Histórico - Entradas</a>
                        <a href="/saidas_toners">Histórico - Saídas</a>
                    </div>
                </li>
            </ul>
        </nav>
    </div>
{% endblock %}