{% extends 'base.html' %}
{% include 'header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div>
    <h2>Informativo - TI HSJ</h2>
    <p>
        Este site visa apoiar a TI no monitoramento e controle das Impressoras Ativas e o Estoque de Toners
    </p>
    <p>
        Futuramente, teremos opções para:
        <b>
            <span>Cadastro de acessos a WiFi HSJ_COLABORADOR, </span>
        </b>
        <b>
            <span>Equipamentos enviados para a manutenção em fornecedores terceiros, </span>
        </b>
        <b>
            <span>e muito mais...</span>
        </b>
    </p>
    <p>
        Equipe TI - HSJ
    </p>
</div>

{% endblock %}