<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link href="{{url_for('static',filename = 'css/style.css')}}" rel="stylesheet">
    <link href="{{url_for('static',filename = 'icon/printer-icon.png')}}" rel="icon">
    <!-- <script src="{{url_for('static',filename = 'script/script.js')}}"></script> -->
    <meta charset="UTF-8">
    <meta http-equiv="refresh" content="30">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
        {% block body %} 
        {% endblock %}
</body>
</html>