{% extends 'local_base.html' %}
{% include 'local_header.html' %}

{% block title %} Home {% endblock %}

{% block body %}

<div>
    <h2>Impressoras Color - abaixo ou igual a 5%</h2>
        <table  id="equipamentos">
            <tr>
                <th>IP</th>
                <th>Serial</th>
                <th>Modelo</th>
                <th>Local</th>
                <th>Data</th>
                <th>Preto</th>
                <th>Ciano</th>
                <th>Magenta</th>
                <th>Amarelo</th>
            </tr>
            {% for row in dataC %}
            <tr>
                <td><a href = http://{{row[0]}} target="_blank"</a>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}} {{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                <td>{{row[9]}}</td>
            </tr>
            {% endfor %}
        </table>
</div>

{% endblock %}